In [62]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [63]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [64]:
data = pd.read_csv("/content/heart.csv")

In [65]:
data

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1        0      150      0      2.3      0   0     1       1
1     37    1   2       130   250    0        1      187      0      3.5      0   0     2       1
2     41    0   1       130   204    0        0      172      0      1.4      2   0     2       1
3     56    1   1       120   236    0        1      178      0      0.8      2   0     2       1
4     57    0   0       120   354    0        1      163      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0        1      123      1      0.2      1   0     3       0
299   45    1   3       110   264    0        1      132      0      1.2      1   0     3       0
300   68    1   0       144   193    1        1      141      0      3.4      1   2     3       0
301   57    1   0       130   131    0        1      115      1      1.2      1   1     3       0
302   57    0   1       130   236    0        0      174      0      0.0      1   1     2       0

[303 rows x 14 columns]

In [66]:
data.shape

(303, 14)

In [67]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [68]:
data['target'].value_counts()
#

target
1    165
0    138
Name: count, dtype: int64

In [69]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [70]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal
0     63    1   3       145   233    1        0      150      0      2.3      0   0     1
1     37    1   2       130   250    0        1      187      0      3.5      0   0     2
2     41    0   1       130   204    0        0      172      0      1.4      2   0     2
3     56    1   1       120   236    0        1      178      0      0.8      2   0     2
4     57    0   0       120   354    0        1      163      1      0.6      2   0     2
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...    ...  ..   ...
298   57    0   0       140   241    0        1      123      1      0.2      1   0     3
299   45    1   3       110   264    0        1      132      0      1.2      1   0     3
300   68    1   0       144   193    1        1      141      0      3.4      1   2     3
301   57    1   0       130   131    0        1      115      1      1.2      1   1     3
302   57    0   1       130   236    0        0      174      0      0.0      1   1     2

[303 rows x 13 columns]

In [71]:
print(y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,stratify=y, random_state=3)

In [73]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

In [74]:
models = [LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [75]:
def compare_models_train_test():
  for model in models:
    model.fit(X_train,y_train)
    test_data_prediction = model.predict(X_test)
    acc = accuracy_score(y_test,test_data_prediction)
    print('Accuracy score of the ',model,' = ',acc)

In [76]:
compare_models_train_test()

Accuracy score of the  LogisticRegression(max_iter=1000)  =  0.7704918032786885
Accuracy score of the  SVC(kernel='linear')  =  0.7704918032786885
Accuracy score of the  KNeighborsClassifier()  =  0.6557377049180327
Accuracy score of the  RandomForestClassifier()  =  0.7868852459016393

In [77]:
cross = cross_val_score(LogisticRegression(max_iter=1000),X,y,cv=5)

In [78]:
print(cross)

[0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]

In [79]:
print(cross.mean())

0.8282513661202187

In [81]:
cross2 = cross_val_score(SVC(kernel='linear'),X,y,cv=5)

In [82]:
print(cross2)

[0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]

In [83]:
print(cross2.mean())

0.8283060109289618

In [84]:
cross3 = cross_val_score(KNeighborsClassifier(),X,y,cv=5)

In [85]:
print(cross3)

[0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]

In [86]:
print(cross3.mean())

0.643879781420765

In [87]:
cross4 = cross_val_score(RandomForestClassifier(),X,y,cv=5)

In [88]:
print(cross4)

[0.81967213 0.90163934 0.80327869 0.76666667 0.78333333]

In [89]:
print(cross4.mean())

0.8149180327868851

In [92]:
models2 = [LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [95]:
def cross_val():
  for x in models2:
    cross = cross_val_score(x,X,y,cv=5)
    print('Accuracy score of the ',x,' = ',cross.mean())

In [96]:
cross_val()

Accuracy score of the  LogisticRegression(max_iter=1000)  =  0.8282513661202187
Accuracy score of the  SVC(kernel='linear')  =  0.8283060109289618
Accuracy score of the  KNeighborsClassifier()  =  0.643879781420765
Accuracy score of the  RandomForestClassifier()  =  0.8050273224043716